<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>租葛亮CRM</title>
    <base href="/">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/x-icon" href="">
</head>
<body>
<!-- 会被 app.component.html 替换掉 -->
<app-root></app-root>
<noscript>Please enable JavaScript to continue using this application.</noscript>
</body>
</html>
